.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    text-align: center;
}

.overlay .content > a:not(:last-child) {
    white-space: nowrap;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 800;
    color: #FFF;
    display: block;
    transition: 0.3s ease;
}

.overlay .content a:hover,
.overlay a:focus {
    color: #EE8C1F;
}


.swap-btn {
    white-space: nowrap;
    font-size: 20px;
    width: 30%;
}

.overlay > .close-btn {
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
    color: #EE8C1F;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 450px) {
    .swap-btn {
        width: 70%;
    }
}